@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/helvetica-neue-regular.ttf") format("truetype"); }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  line-height: 1.4; }

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a,
a:visited {
  color: inherit; }

article,
aside,
footer,
header,
nav,
section,
main {
  display: block; }

* {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol,
ul {
  list-style: none; }

img,
video {
  max-width: 100%; }

img {
  border-style: none; }

blockquote,
q {
  quotes: none; }

[hidden] {
  display: none !important; }

[disabled] {
  cursor: not-allowed; }

:focus:not(:focus-visible) {
  outline: none; }

body {
  background: #ededed;
  color: #000000;
  font-size: 16px;
  font-family: 'Helvetica Neue';
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }
  body.modal-open {
    overflow: hidden; }

a {
  text-decoration: none;
  color: #000000; }

img {
  max-width: 100%;
  height: auto; }

.container {
  max-width: 1054px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px; }

p {
  color: #c1c1c1;
  font-size: 14px;
  line-height: 1.9; }

.mb-70 {
  margin-bottom: 70px; }

.btn {
  display: block;
  text-align: center;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
  -ms-transform: perspective(1px) translateZ(0);
  -o-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s; }
  .btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out; }
  .btn:hover {
    color: white; }
    .btn:hover:before {
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
      transform: scaleX(1); }

#header {
  padding: 40px 0 0;
  height: 125px;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -ms-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out; }
  @media (max-width: 768px) {
    #header {
      padding-top: 10px; } }
  #header .logo .dots {
    position: absolute;
    bottom: 0;
    left: 3px;
    display: flex; }
    #header .logo .dots span {
      width: 5px;
      height: 5px;
      background: #000000;
      border-radius: 50%;
      margin-right: 5px; }
      @media (max-width: 768px) {
        #header .logo .dots span {
          width: 4px;
          height: 4px;
          margin-right: 3px; } }
  #header .logo a {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Helvetica Neue';
    text-decoration: none;
    position: relative;
    padding-bottom: 10px; }
    @media (max-width: 768px) {
      #header .logo a {
        font-size: 25px;
        padding-bottom: 6px; } }
  #header .nav {
    display: flex;
    justify-content: center;
    margin-top: 25px; }
    @media (max-width: 768px) {
      #header .nav {
        margin-top: -25px;
        justify-content: flex-start; } }
    #header .nav > li {
      font-size: 16px;
      position: relative; }
      @media (max-width: 768px) {
        #header .nav > li {
          font-size: 14px; }
          #header .nav > li:first-child a {
            padding: 0 0 5px; } }
      #header .nav > li > a {
        display: block;
        font-weight: 700;
        position: relative;
        padding: 0 20px 5px; }
        @media (max-width: 768px) {
          #header .nav > li > a {
            padding: 0 15px 5px; } }
        #header .nav > li > a.active::after {
          content: '';
          width: 5px;
          height: 5px;
          background: #000000;
          border-radius: 50%;
          margin-right: 5px;
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -2.5px; }
          @media (max-width: 768px) {
            #header .nav > li > a.active::after {
              width: 4px;
              height: 4px;
              margin-right: 3px; } }
      @media (min-width: 769px) {
        #header .nav > li:hover .sub-menu {
          opacity: 1;
          visibility: visible; }
          #header .nav > li:hover .sub-menu > li {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0); } }
      #header .nav > li .sub-menu {
        position: absolute;
        left: 0;
        width: 100%;
        min-width: 150px;
        top: 100%;
        padding-top: 30px;
        opacity: 0;
        visibility: hidden;
        z-index: 9;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        @media (max-width: 768px) {
          #header .nav > li .sub-menu {
            padding-top: 20px; }
            #header .nav > li .sub-menu.active {
              opacity: 1;
              visibility: visible; }
              #header .nav > li .sub-menu.active > li {
                -webkit-transform: translateX(0);
                -moz-transform: translateX(0);
                -ms-transform: translateX(0);
                -o-transform: translateX(0);
                transform: translateX(0); } }
        #header .nav > li .sub-menu li {
          -webkit-transform: translateX(-60px);
          -moz-transform: translateX(-60px);
          -ms-transform: translateX(-60px);
          -o-transform: translateX(-60px);
          transform: translateX(-60px);
          -webkit-transition: transform 0.2s ease-in-out;
          -moz-transition: transform 0.2s ease-in-out;
          -ms-transition: transform 0.2s ease-in-out;
          -o-transition: transform 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out; }
          #header .nav > li .sub-menu li:first-child {
            transition-delay: 0.05s; }
          #header .nav > li .sub-menu li:nth-child(1) {
            transition-delay: 0.05s; }
          #header .nav > li .sub-menu li:nth-child(2) {
            transition-delay: 0.1s; }
          #header .nav > li .sub-menu li:nth-child(3) {
            transition-delay: 0.15s; }
          #header .nav > li .sub-menu li:nth-child(4) {
            transition-delay: 0.2s; }
          #header .nav > li .sub-menu li:nth-child(5) {
            transition-delay: 0.25s; }
          #header .nav > li .sub-menu li:nth-child(6) {
            transition-delay: 0.3s; }
          #header .nav > li .sub-menu li:nth-child(7) {
            transition-delay: 0.35s; }
          #header .nav > li .sub-menu li:nth-child(8) {
            transition-delay: 0.4s; }
          #header .nav > li .sub-menu li:nth-child(9) {
            transition-delay: 0.45s; }
          #header .nav > li .sub-menu li:nth-child(10) {
            transition-delay: 0.5s; }
          #header .nav > li .sub-menu li:nth-child(11) {
            transition-delay: 0.55s; }
          #header .nav > li .sub-menu li:nth-child(12) {
            transition-delay: 0.6s; }
          #header .nav > li .sub-menu li:nth-child(13) {
            transition-delay: 0.65s; }
          #header .nav > li .sub-menu li:nth-child(14) {
            transition-delay: 0.7s; }
          #header .nav > li .sub-menu li:nth-child(15) {
            transition-delay: 0.75s; }
          #header .nav > li .sub-menu li:nth-child(16) {
            transition-delay: 0.8s; }
          #header .nav > li .sub-menu li:nth-child(17) {
            transition-delay: 0.85s; }
          #header .nav > li .sub-menu li:nth-child(18) {
            transition-delay: 0.9s; }
          #header .nav > li .sub-menu li:nth-child(19) {
            transition-delay: 0.95s; }
          #header .nav > li .sub-menu li a {
            font-size: 14px;
            display: block;
            font-weight: 700;
            padding: 5px 20px; }
            #header .nav > li .sub-menu li a:hover {
              color: #ffffff; }
  #header .right-block {
    float: right; }
    @media (max-width: 768px) {
      #header .right-block {
        margin-top: 10px; } }
    #header .right-block > div {
      width: 80px;
      display: flex;
      text-align: left; }
      #header .right-block > div.language {
        margin-bottom: 40px; }
        #header .right-block > div.language a {
          font-size: 12px;
          font-weight: 700; }
          #header .right-block > div.language a:last-child {
            text-align: right; }
          #header .right-block > div.language a.active {
            color: #c1c1c1; }
      #header .right-block > div.cart {
        cursor: pointer; }
        #header .right-block > div.cart img {
          width: 25px; }
        #header .right-block > div.cart span {
          line-height: 1; }
          #header .right-block > div.cart span:last-child {
            text-align: right; }
        #header .right-block > div.cart .cart-item {
          position: relative; }
          #header .right-block > div.cart .cart-item > span {
            display: inline-block;
            background: #000000;
            color: #ffffff;
            font-size: 59%;
            border-radius: 15px;
            position: absolute;
            top: -2px;
            right: 0;
            padding: .25em .5em; }
      #header .right-block > div > a, #header .right-block > div > span {
        flex-basis: 0;
        flex-grow: 1; }
  @media (max-width: 768px) {
    #header .row .col:first-child {
      order: 1; }
    #header .row .col:nth-child(2) {
      order: 3;
      flex: 0 100%; }
    #header .row .col:last-child {
      order: 2; } }

.d-flex {
  display: flex; }

.justify-space-between {
  justify-content: space-between; }

.flex-wrap {
  flex-wrap: wrap; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px; }

.row-4 {
  display: flex;
  flex-wrap: wrap;
  margin-left: -25px;
  margin-right: -25px; }
  @media (max-width: 768px) {
    .row-4 {
      margin-left: -15px;
      margin-right: -15px; } }

.col-4 {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 25px;
  padding-right: 25px; }
  @media (max-width: 768px) {
    .col-4 {
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 30px; } }
  @media (max-width: 640px) {
    .col-4 {
      flex: 0 0 50%; } }
  @media (max-width: 320px) {
    .col-4 {
      flex: 0 0 100%; } }

#product {
  padding-bottom: 50px;
  margin-top: 30px; }
  #product .product-photo {
    position: relative; }
    #product .product-photo .main-photo {
      max-width: 400px;
      width: 100%;
      margin: 0 auto; }
    #product .product-photo .thumbnail {
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      #product .product-photo .thumbnail span {
        display: block;
        width: 50px;
        height: 50px;
        margin-bottom: 30px;
        cursor: pointer;
        outline: none; }
        #product .product-photo .thumbnail span:last-child {
          margin-bottom: 10px; }
      @media (max-width: 768px) {
        #product .product-photo .thumbnail {
          position: static;
          -webkit-transform: none;
          -moz-transform: none;
          -ms-transform: none;
          -o-transform: none;
          transform: none;
          text-align: center;
          margin-top: 30px; }
          #product .product-photo .thumbnail span {
            display: inline-block;
            margin-bottom: 0;
            margin: 0 10px; } }
    #product .product-photo .product-color {
      position: absolute;
      right: 0;
      bottom: 30px;
      display: flex; }
      #product .product-photo .product-color a {
        outline: none; }
        #product .product-photo .product-color a span {
          width: 25px;
          height: 25px;
          display: block;
          border-radius: 50%; }
          #product .product-photo .product-color a span.black {
            background: #000000; }
          #product .product-photo .product-color a span.white {
            background: #ffffff; }
          #product .product-photo .product-color a span:last-child {
            margin-left: 15px; }
      @media (max-width: 768px) {
        #product .product-photo .product-color {
          position: static;
          justify-content: center;
          margin-top: 20px; } }
  #product .product-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: -30px; }
    @media (max-width: 768px) {
      #product .product-info {
        margin-top: 10px; } }
    @media (max-width: 414px) {
      #product .product-info {
        display: block; } }
    #product .product-info .name span {
      display: block; }
      #product .product-info .name span.item1 {
        color: #c1c1c1; }
      #product .product-info .name span.item3 {
        font-weight: 700;
        font-size: 20px; }
    #product .product-info .name .item2 {
      font-size: 31px; }
      @media (max-width: 414px) {
        #product .product-info .name .item2 {
          font-size: 27px; } }
    #product .product-info .add-cart .btn {
      background: #ffffff;
      width: 150px;
      padding: 10px 0;
      font-size: 14px; }
      @media (max-width: 414px) {
        #product .product-info .add-cart .btn {
          margin: 20px auto 0; } }

#main-content {
  background: #ffffff;
  padding-top: 50px;
  padding-bottom: 80px; }
  @media (max-width: 768px) {
    #main-content {
      padding-bottom: 0; } }
  #main-content .container {
    overflow: hidden; }
  #main-content .description {
    width: 58.59375%; }
    @media (max-width: 768px) {
      #main-content .description {
        width: 78.125%; } }
    @media (max-width: 414px) {
      #main-content .description {
        flex: 0 0 100%;
        margin-bottom: 30px; }
        #main-content .description .designer {
          flex: 0 0 100%; } }
  #main-content .list-product {
    margin-top: 50px; }
    #main-content .list-product .item-photo {
      background: #efefef; }
    #main-content .list-product .item span {
      display: block; }
    #main-content .list-product .item-1 {
      color: #c1c1c1;
      font-size: 12px;
      margin-top: 20px; }
    #main-content .list-product .item-2 {
      font-weight: bold;
      margin-top: 5px; }
    #main-content .list-product .item-3 {
      font-size: 12px;
      margin-top: 5px; }

.bg-modal {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  display: none; }
  .bg-modal.active {
    display: block; }

.modal {
  background: #ffffff;
  position: fixed;
  right: -100%;
  top: 0;
  bottom: 0;
  width: 450px;
  z-index: 11;
  padding: 60px 0 70px;
  -webkit-transition: right 0.5s ease-in-out;
  -moz-transition: right 0.5s ease-in-out;
  -ms-transition: right 0.5s ease-in-out;
  -o-transition: right 0.5s ease-in-out;
  transition: right 0.5s ease-in-out; }
  .modal.active {
    right: 0; }
  @media (max-width: 450px) {
    .modal {
      width: 100%;
      padding: 20px 0 70px; } }
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 50px; }
    @media (max-width: 450px) {
      .modal-header {
        padding: 0 15px;
        margin-bottom: 20px; } }
    .modal-header .modal-title {
      font-size: 35px;
      font-weight: 700; }
    @media (max-width: 450px) {
      .modal-header {
        font-size: 30px; } }
    .modal-header .close {
      padding: 0;
      background-color: transparent;
      border: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      line-height: 1;
      font-size: 37px;
      color: #000000;
      outline: none;
      cursor: pointer; }
  .modal-body {
    height: calc( 100% - 80px);
    padding-left: 50px; }
    @media (max-width: 450px) {
      .modal-body {
        padding-left: 20px; } }
    .modal-body .total {
      color: #000000;
      font-weight: 700;
      padding-bottom: 20px;
      position: relative; }
      .modal-body .total:after {
        content: '';
        height: 2px;
        width: 40px;
        background: #efefef;
        position: absolute;
        left: 0;
        bottom: 0; }
      .modal-body .total span {
        font-size: 25px; }
        @media (max-width: 450px) {
          .modal-body .total span {
            font-size: 20px; } }
    .modal-body .cart-list {
      height: calc( 100% - 80px);
      overflow-y: auto;
      border-top: 10px solid #ffffff;
      padding-right: 50px; }
      .modal-body .cart-list::-webkit-scrollbar {
        width: 5px; }
      .modal-body .cart-list::-webkit-scrollbar-track {
        border: 0; }
      .modal-body .cart-list::-webkit-scrollbar-thumb {
        background-color: #d8d8d8;
        border-radius: 5px; }
      @media (max-width: 450px) {
        .modal-body .cart-list {
          padding-right: 20px;
          height: calc( 100% - 70px); } }
      .modal-body .cart-list li {
        padding: 25px 0; }
        @media (max-width: 450px) {
          .modal-body .cart-list li {
            padding: 20px 0; } }
  .modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
    .modal-footer .btn {
      background: #efefef;
      font-weight: 700;
      padding: 25px 0 20px; }

.media {
  display: flex; }
  .media-photo {
    width: 130px;
    background: #efefef; }
    @media (max-width: 450px) {
      .media-photo {
        width: 100px; } }
  .media-body {
    flex: 1 0;
    padding-left: 30px;
    padding-bottom: 20px;
    position: relative; }
    @media (max-width: 450px) {
      .media-body {
        padding-left: 20px; } }
    .media-body .category {
      position: relative;
      padding-right: 20px; }
      .media-body .category span {
        display: block; }
        .media-body .category span:first-child {
          color: #c1c1c1;
          font-size: 13px;
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 130px; }
        .media-body .category span:last-child {
          position: absolute;
          right: 0;
          top: 8px;
          height: 2px;
          width: 15px;
          background: #000000;
          cursor: pointer; }
    .media-body .cart-name {
      font-weight: 700;
      margin: 7px 0; }
      .media-body .cart-name span {
        display: block;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 150px; }
    .media-body .cart-price {
      font-size: 13px;
      font-weight: 700; }
    .media-body .quantity {
      text-align: right;
      font-size: 14px;
      font-weight: 700;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0; }
      .media-body .quantity span.plus, .media-body .quantity span.minus {
        cursor: pointer; }

/*# sourceMappingURL=style.css.map */
