.bg-modal{
    background: rgba( 0 , 0 , 0 , .7);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: none;
    &.active {
        display: block;
    }
}

.modal{
    background: $white;
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    width: 450px;
    z-index: 11;
    padding: 60px 0 70px;
    @include transition(right .5s ease-in-out);
    &.active {
        right: 0;
    }
    @media (max-width: 450px){
        width: 100%;
        padding: 20px 0 70px;
    }

    &-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        padding: 0 50px;
        @media (max-width: 450px){
            padding: 0 15px;
            margin-bottom: 20px;
        }
        .modal-title{
            font-size: 35px;
            font-weight: 700;
        }
        @media (max-width: 450px){
            font-size: 30px;
        }
        .close{
            padding: 0;
            background-color: transparent;
            border: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            line-height: 1;
            font-size: 37px;
            color: $black;
            outline: none;
            cursor: pointer;
        }
    }
    &-body{
        height: calc( 100% - 80px);
        padding-left: 50px;
        @media (max-width: 450px){
            padding-left: 20px;
        }
        .total{
            color: $black;
            font-weight: 700;
            padding-bottom: 20px;
            position: relative;
            &:after{
                content: '';
                height: 2px; 
                width: 40px;
                background: $item-product;
                position: absolute;
                left: 0;
                bottom: 0;
            }
            span{
                font-size: 25px;
                @media (max-width: 450px){
                    font-size: 20px;
                }
            }
        }
        
        .cart-list{
            height: calc( 100% - 80px);
            overflow-y: auto;
            border-top: 10px solid $white;
            padding-right: 50px;
            @include scrollbar;
            @media (max-width: 450px){
                padding-right: 20px;
                height: calc( 100% - 70px);
            }
            li{
                padding: 25px 0;
                @media (max-width: 450px){
                    padding: 20px 0;
                }
            }
        }
    }
    &-footer{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        .btn{
            background: $item-product;
            font-weight: 700;
            padding: 25px 0 20px;
        }
    }
}

.media{
    display: flex;
    &-photo{
        width: 130px;
        background: $item-product;
        @media (max-width: 450px){
            width: 100px;
        }
    }
    &-body{
        flex: 1 0;
        padding-left: 30px;
        padding-bottom: 20px;
        position: relative;
        @media (max-width: 450px){
            padding-left: 20px;
        }
        .category{
            position: relative;
            padding-right: 20px;
            span{
                display: block;
                &:first-child{
                    color: $text-color-gray;
                    font-size: 13px;
                    width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    max-width: 130px;
                }
                &:last-child{
                    position: absolute;
                    right: 0;
                    top: 8px;
                    height: 2px;
                    width: 15px;
                    background: $black;
                    cursor: pointer;
                }
            }
        }
        .cart-name{
            font-weight: 700;
            margin: 7px 0;
            span{
                display: block;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 150px;
            }
        }
        .cart-price{
            font-size: 13px;
            font-weight: 700;
        }
        .quantity{
            text-align: right;
            font-size: 14px;
            font-weight: 700;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            span{
                &.plus,&.minus{
                    cursor: pointer;
                }
            }
        }
    }
}