body{
    background: $body-bg;
    color: $black;
    font-size: 16px;
    font-family: 'Helvetica Neue';
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    &.modal-open{
        overflow: hidden;
    }
}
a {
    text-decoration: none;
    color: $black;
}

img{
    @include img-fluid;
}

.container{
    max-width: 1054px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

h3{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}
p{
    color: $text-color-gray;
    font-size: 14px;
    line-height: 1.9;
}

.mb-70{
    margin-bottom: 70px;
}

// Button 
.btn{
    display: block;
    text-align: center;
    position: relative;
    -webkit-font-smoothing: antialiased;
    @include transform(perspective(1px) translateZ(0));
    @include transition(color .3s);
    &:before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $black;
        @include transform(scaleX(0));
        @include transform-origin(0 50%);
        @include transition(transform .3s ease-out);
    }
    &:hover{
        color: white;
        &:before{
            @include transform(scaleX(1));
        }
    }
}
