
#product{
    padding-bottom: 50px;
    margin-top: 30px;
    .product-photo{  
        position: relative;
        .main-photo{
            max-width: 400px;
            width: 100%;
            margin: 0 auto;
        }
        .thumbnail{
            position: absolute;
            left: 0;
            top: 50%;
            @include transform(translateY(-50%));
            span{
                display: block;
                width: 50px;
                height: 50px;
                margin-bottom: 30px;
                cursor: pointer;
                outline: none;
                &:last-child{
                    margin-bottom: 10px;
                }
            }
            
            @include breakpoint(mobile){
                position: static;
                @include transform(none);
                text-align: center;
                margin-top: 30px;
                span{
                    display: inline-block;
                    margin-bottom: 0;
                    margin: 0 10px;
                }
            }
        }
        .product-color{
            position: absolute;
            right: 0;
            bottom: 30px;
            display: flex;
            a{
                outline: none;
                span{
                    width: 25px;
                    height: 25px;
                    display: block;
                    border-radius: 50%;
                    &.black{
                        background: $black;
                    }
                    &.white{
                        background: $white;
                    }
                    &:last-child{
                        margin-left: 15px;
                    }
                }
            }
            @include breakpoint(mobile){
                position: static;
                justify-content: center;
                margin-top: 20px;
            }
        }
    }

    .product-info{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: -30px;
        @include breakpoint(mobile){
            margin-top: 10px;
        }
        @media (max-width: 414px){
            display: block;
        }
        .name{
            span{
                display: block;
                &.item1{
                    color: $text-color-gray;
                }
                &.item3{
                    font-weight: 700;
                    font-size: 20px;
                }
            }
            .item2{
                font-size: 31px;
                @media (max-width: 414px){
                    font-size: 27px;
                }
            }
        }
        .add-cart{
            .btn{
                background: $white;
                width: 150px;
                padding: 10px 0;
                font-size: 14px;
                @media (max-width: 414px){
                    margin: 20px auto 0;
                }
            }
            
        }
    }
}

#main-content{
    background: $white;
    padding-top: 50px;
    padding-bottom: 80px;
    @include breakpoint(mobile){
        padding-bottom: 0;
    }
    .container{
        overflow: hidden;
    }
    .description{
        width: per(600px,1024px);
        @include breakpoint(mobile){
            width: per(800px,1024px);
        }
        @media (max-width: 414px){
            flex: 0 0 100%;
            margin-bottom: 30px;
            .designer{
                flex: 0 0 100%;
            }
        }
    }

    .list-product{
        margin-top: 50px;
        .item{
            &-photo{
                background: $item-product;
            }
            span{
                display: block;
            }
            &-1{
                color: $text-color-gray;
                font-size: 12px;
                margin-top: 20px;
            }
            &-2{
                font-weight: bold;
                margin-top: 5px;
            }
            &-3{
                font-size: 12px;
                margin-top: 5px;
            }
        }
    }
}


