.d-flex{
    display: flex;
}
.justify-space-between{
    justify-content: space-between;
}
.flex-wrap{
    flex-wrap: wrap;
}

// 
// row
//

@mixin row {
    display: flex;
    flex-wrap: wrap;
}

.row {
    @include row;
    margin-left: -15px;
    margin-right: -15px;
}



// 
// col
// 
@mixin col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.col {
    @include col;
    padding-left: 15px;
    padding-right: 15px;
}

.row-4{
    @include row;
    margin-left: -25px;
    margin-right: -25px;
    @include breakpoint(mobile){
        margin-left: -15px;
        margin-right: -15px;
    }
}
.col-4 {
    @include col;
    padding-left: 25px;
    padding-right: 25px;
    @include breakpoint(mobile){
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;
    }
    
    @media (max-width: 640px){
        flex: 0 0 50%;
    }
    @media (max-width: 320px){
        flex: 0 0 100%;
    }
}