
#header{
    padding: 40px 0 0;
    height: 125px;
    @include breakpoint(mobile){
        padding-top: 10px;
    }
    @include transition(height .5s ease-in-out);
    .logo{
        .dots{
            position: absolute;
            bottom: 0;
            left: 3px;
            display: flex;
            span{
                @include dots;
            }
        }
        a{
            font-size: 30px;
            font-weight: 700;
            font-family: 'Helvetica Neue';
            text-decoration: none;
            position: relative;
            padding-bottom: 10px;
            @include breakpoint(mobile){
                font-size: 25px;
                padding-bottom: 6px;
            }
        }
    }

    .nav{
        display: flex;
        justify-content: center;
        margin-top: 25px;
        @include breakpoint(mobile){
            margin-top: -25px;
            justify-content: flex-start;
        }
        >li{
            font-size: 16px;
            position: relative;
            @include breakpoint(mobile){
                font-size: 14px;
                &:first-child{
                    a{
                        padding: 0 0 5px;
                    }
                }
            }
            >a{
                display: block;
                font-weight: 700;
                position: relative;
                padding: 0 20px 5px;
                @include breakpoint(mobile){
                    padding: 0 15px 5px;
                }
                &.active{
                    &::after{
                        content: '';
                        @include dots;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        margin-left: -2.5px;
                    }
                }
            }
            @include breakpoint(desktop){
                &:hover{
                    .sub-menu{
                        opacity: 1;
                        visibility: visible;
                        >li{
                            @include transform (translateX(0));
                        }
                    }
                }
            }
            
            .sub-menu{
                position: absolute;
                left: 0;
                width: 100%;
                min-width: 150px;
                top: 100%;
                padding-top: 30px;
                opacity: 0;
                visibility: hidden;
                z-index: 9;
                @include transition(all .2s ease-in-out);
                
                @include breakpoint(mobile){
                    padding-top: 20px;
                    &.active{
                        opacity: 1;
                        visibility: visible;
                        >li{
                            @include transform (translateX(0));
                        }
                    }
                }
                li{
                    @include transform (translateX(-60px));
                    @include transition(transform .2s ease-in-out);
                    &:first-child{
                        transition-delay: 0.05s;
                    }
                    @for $k from 1 to 20 {
                        &:nth-child( #{$k} ){ 
                            transition-delay: 0.05s * $k;
                        }
                    }
                    a{
                        font-size: 14px;
                        display: block;
                        font-weight: 700;
                        padding: 5px 20px;
                        &:hover{
                            color: $white;
                        }
                    }
                }
            }
        }
    }



    .right-block{
        float: right;
        @include breakpoint(mobile){
            margin-top: 10px;
        }
        >div{
            width: 80px;
            display: flex;
            text-align: left;
            &.language{
                margin-bottom: 40px;
                a{
                    font-size: 12px;
                    font-weight: 700;
                    &:last-child{
                        text-align: right;
                    }
                    
                    &.active{
                        color: $text-color-gray;
                    }
                }
            }
            &.cart{
                cursor: pointer;
                img{
                    width: 25px;
                }
                span{
                    line-height: 1;
                    &:last-child{
                        text-align: right;
                    }
                }
                .cart-item{
                    position: relative;
                    >span{
                        display: inline-block;
                        background: #000000;
                        color: #ffffff;
                        font-size: 59%;
                        border-radius: 15px;
                        position: absolute;
                        top: -2px;
                        right: 0;
                        padding: .25em .5em;
                    }
                }
            }
            >a,>span{
                flex-basis: 0;
                flex-grow: 1;
            }
        }
    }

    @include breakpoint(mobile){
        .row{
            .col{
                &:first-child{
                    order: 1;
                }
                &:nth-child(2){
                    order: 3;
                    flex: 0 100%;
                }
                &:last-child{
                    order: 2;
                }
            }
        }
    }

}
