  
// breakpoint
@mixin breakpoint($point) {
    @if $point == mobile {
      @media (max-width: 768px) {
        @content;
      }
    } @else if $point == desktop {
      @media (min-width: 769px) {
        @content;
      }
    }
  }

  // transform
@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
    transform: $property;
  }
  @mixin transform-origin($property) {
    -webkit-transform-origin: $property;
    -moz-transform-origin: $property;
    -ms-transform-origin: $property;
    -o-transform-origin: $property;
    transform-origin: $property;
  }
  
  // transition
  @mixin transition($property...) {
    -webkit-transition: $property;
    -moz-transition: $property;
    -ms-transition: $property;
    -o-transition: $property;
    transition: $property;
  }
  

  // clearfix
@mixin clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

// images
@mixin img-fluid {
    max-width: 100%;
    height: auto;
}

// Dots
@mixin dots{
    width: 5px;
    height: 5px;
    background: $black;
    border-radius: 50%;
    margin-right: 5px;
    
    @include breakpoint(mobile){
       width: 4px;
       height: 4px;
       margin-right: 3px;
    }
}

// scrollbar
@mixin scrollbar {
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      // border-left: 1px solid #d8d8d8;
      border: 0;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #d8d8d8;
      border-radius: 5px;
    }
  }